body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

header{
    background-color: #007bff;
    color: white;
    padding: 20px 0;
  }

header nav {
    font-size: 18px;
}

header nav a {
    color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  text-transform: uppercase;
}

header nav a:hover {
    text-decoration: underline;
}

.hero {
    background-color: #007bff;
    color: white;
    padding: 80px 0;
  }
  
.hero h1 {
    font-size: 48px;
    font-weight: 700;
  }
  
.hero h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px
  }

.section-content{
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 32px;
    color: #007bff;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

 table {
    width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
}

td {
  background-color: #f8f9fa;
}

table a {
  color: #007bff;
  text-decoration: none;
}


.content {
    margin: 50px, 0;
}

.content table{
    width: 100%;
    border-collapse: collapse;
}
