/* General Styles */
body {
    background-color: #FFFFFF; /* White background */
    color: #333333; /* Dark Charcoal text */
    
}

header {
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
    background-image: url('background2.jpeg');
    color: white;
    
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0;
}

/* About Section */
.about {
    background-color: #E5D1B4;;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about .section-content h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.about .section-content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.about .cta-btn {
    display: inline-block;
    background-color: #8091de;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.about .cta-btn:hover {
    background-color: #7888cf;
}

/* User Section */
.user {
    background-color: #4A90E2;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user .section-content h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.user .cta-btn {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.user .cta-btn:hover {
    background-color: #0056b3;;
}

/* Content Section */
.content {
    background-color: #333333;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content .section-content h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.content table {
    width: 100%;
    border-spacing: 20px;
    text-align: left;
}

.content table td {
    background-color: #F1F1F1;;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    vertical-align: top;
}

.content table h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333333
}

.content table p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555;
}

.content table a {
    color: #007BFF;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.content table a:hover {
    color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333333;
    color: white;
    font-size: 0.9rem;
}

footer a {
    color: #FFD700;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
